<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Donations target:</strong>
  <%= @campaign.donations_target %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @campaign.hidden %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @campaign.slug %>
</p>

<p>
  <strong>Event:</strong>
  <%= @campaign.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user_id %>
</p>
